.HeroParallebutton {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid black;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    margin-top:20px;
  }
  /* linear-gradient(27deg, rgba(16,163,209,1) 0%, rgba(0,213,187,1) 100%) */
  
  .HeroParallebutton:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: black;
    z-index: -1;
  }
  
  .HeroParallebutton:hover, .HeroParallebutton:focus {
    color: white;
  }
  
  .HeroParallebutton:hover:before, .HeroParallebutton:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  .HeroParallebutton:active {
    transform: scale(0.9);
  }



