.nav {
  display: flex;
  align-items: center;
  top: 0;
  list-style: none;
  z-index: 100;
  gap: 30px;
}
.nav li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: black;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  display: flex;
  padding: 10px 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 10px 0px 10px;
  width: -webkit-fill-available;
  position: fixed;
  transition: 0.3s ease;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0px;
  top: 0px;
  height: 70px;
  box-shadow: 0px 0px 40px lightgray;
}

.phoneContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phoneContainer h5 {
  margin: 0px;
  text-decoration: none;
  font-size: 18px;
  color: var(--secondary);
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.phoneContainer h3 {
  margin: 0px;
  text-decoration: none;
  font-size: 18px;
  color: var(--secondary);
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.phoneContainer a {
  text-decoration: none;
  color: var(--secondary);
}
.phoneContainer {
  padding-right: 10px;
  /* background-color: var(--primary); */
  transition: 0.3s;
}
.phoneContainer select {
  /* background-color: var(--primary); */
  color: black;
  border: none;
  padding: 10px 0px;
  height: px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
}
.phoneContainer:hover,
.phoneContainer:hover select {
  /* background-color: var(--secondary); */
}
.phoneContainer select:focus {
  outline: none;
}

.hamburger,
.mobileNav {
  display: none;
}
.subNav {
  display: none;
  list-style: none;
  position: absolute;
  background-color: #fff;
  width: 200px;
  top: 55px;
  padding: 20px 20px 0px;
  transform: translateX(20px);
  opacity: 0;

  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  border-bottom-left-radius:10px;
  border-bottom-right-radius: 10px;

}

.nav li:hover .subNav {
  
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
  transition: display 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.subNav a {
  padding: 7px 0px;
  display: block;
}




@media (max-width: 1000px) {
  .header {
    padding: 0px 12px 0px 12px;
    width: -webkit-fill-available ;
    justify-content: space-between;
  }
  .nav {
    display: none;
  }
  .phoneContainer {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 30px;
  }
  .hamburger input {
    position: absolute;
    height: 25px;
    width: 30px;
    opacity: 0;
    z-index: 1000;
  }
  .hamburgerItem1,
  .hamburgerItem2,
  .hamburgerItem3 {
    display: block;
    width: 30px;
    height: 3px;
   background: black;
    margin: 5px;
    border-radius: 2px;
    transition: 0.3s;
    z-index: 999;
    position: relative;
  }
  .hamburger input:checked ~ .hamburgerItem3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .hamburger input:checked ~ .hamburgerItem1 {
    opacity: 0;
  }
  .hamburger input:checked ~ .hamburgerItem2 {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .hamburger input:checked ~ .mobileNav {
    transform: translateX(0vw);
  }
  .mobileNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: calc(100vh - 40px);
    background-color: var(--white);
    z-index: 99;
    width: 40%;
    padding: 20px 45px;
    transform: translateX(100vw);
    transition: 0.3s;
    overflow-y: auto;
  }
  .mobileNav ul {
    list-style: none;
    padding: 0px;
  }
  .mobileNav ul li {
    position: relative;
  }
  .mobileNav li a,
  .mobileLang {
    font-size: 14px;
    font-weight: 700;
    color: black;
    font-family: "Red Hat Display", sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .mobileLang {
    align-self: flex-end;
  }
  .mobileLang select {
    background-color: var(--white);
    color: var(--secondary);
    border: none;
    padding: 0px 0px 0px 0px;
    height: px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
  }
  .mobileNav select:active {
    outline: none;
    border: 0px;
  }
  .plusIcon {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400px;
    position: absolute;
    right: 0px;
    top: 3px;
    transition: 0.3s ease-in;
    color: black;
  }
  .mobileNav ul li input:hover ~ .plusIcon {
    background-color: var(--primary);
    color: var(--white);
  }
  .mobileNav ul li input {
    height: 32px;
    width: 32px;
    position: absolute;
    z-index: 99;
    right: 0px;
    top: 3px;
    opacity: 0;
    cursor: pointer;
  }
  .mobileSubNav {
    display: none;
    overflow: hidden;
  }
  .mobileNav ul li input:checked ~ .mobileSubNav {
    display: block;
    animation: slideIn 0.5s ease-in;
  }
  .mobileSubNav li a {
    padding-left: 40px;
    width: calc(100% - 40px);
  }
}
/* write animation which will change hieght from 0% from 100% */
@keyframes slideIn {
  from {
    max-height: 0px;
  }
  to {
    max-height: 100vh;
  }
}

@media (max-width: 500px) {
  .mobileNav {
    width: calc(100% - 40px);
    padding: 20px;
  }
}